<html>
<head>
</head>
<body>
    <body style="background-color:rgb(225, 238, 175);"></body>
     <style>
    body
    {
     background-image:url({{url_for('static',filename='builtin/terms.jpg')}})
    }
</style>
    <font face="Lato" color="white" size="5">
<h1>KNOW ABOUT MORTGAGE</h1>
<mark>What is mortgage?</mark>
<p >
    A mortgage is a type of loan used to purchase or maintain a home, land, or other types of real estate. The borrower agrees to pay the 
    over time, typically in a series of regular payments that are divided into principal and interest. The property then serves as 
    collateral to secure the loan.<br>
    </p>
<mark>How does mortgage work?</mark>
<p> Individuals and businesses use mortgages to buy real estate without paying the entire purchase price up front. The borrower repays the loan plus interest over a specified number of years until they own the property free and clear. Most traditional mortgages are fully-amortizing. This means that the regular payment amount will stay the same, but different proportions of principal vs. interest will be paid over the life of the loan with each payment. Typical mortgage terms are for 30 or 15 years.
    Would-be borrowers begin the process by applying to one or more mortgage lenders. The lender will ask for evidence that the borrower is capable of repaying the loan. This may include bank and investment statements, recent tax returns, and proof of current employment. The lender will generally run a credit check as well.
</p>
<br>
<mark>Can anybody get mortgage?</mark>
<p> Mortgage lenders will need to approve prospective borrowers through an application and underwriting process. Home loans are only provided to those who have sufficient assets and income relative to their debts to practically carry the value of a home over time. A person’s credit score is also evaluated when making the decision to extend a mortgage. The interest rate on the mortgage also varies, with riskier borrowers receiving higher interest rates.</p>
</font>