<html>
<head>
</head>
<body>
    <body style="background-color:rgb(225, 238, 175);"></body>
    <font face="Lato" color="black" size="5">
        <style>
    body
    {
     background-image:url({{url_for('static',filename='builtin/terms.jpg')}})
    }
</style>
<h2>Terms and Conditions </h2>
<h4 style="font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">please read the following carefully before you sign up:</h4>
<p>
    Accordingly, you agree that you are at least 18 years of age or have obtained the consent of Your parent or legalguardian to use the Services, and are fully able and competent to enter into the terms, conditions, representations and warranties set forth in these Terms of Use.<br><br>


    We reserve the right to modify or terminate the Services, including but not limited to any material we provide on the Website, in our sole discretion without notice. <br><br>Neither Company nor ClickBank will be liable if all or any part of the Website is unavailable at any time or for any period.<br><br>
    
    You are responsible for obtaining access to the Services, and that access may involve third-party fees (such as Internet service provider or airtime charges).<br><br> In addition, you must provide and are responsible for all equipment necessary to access the Services. You are responsible for ensuring that all persons who access the Services through your internet connection are aware of these Terms of Use, and that they comply with them.<br><br>
    
    To access the Services or some of the resources offered, you may be asked to provide certain registration details or other information. It is a condition of your use of the Services that all the information you provide on the Website is correct, current and complete.<br>
    </p>
    

</font>
<label>
    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> I HAVE GONE THROUGH ALL THE POINTS CAREFULLY.
  </label>